.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: rgb(255, 56, 92);
  position: fixed;
  z-index: 50;
  box-shadow: 0 4px 10px 1px rgb(84, 52, 52);
}
.header__logo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/logo.png");
  width: 64px;
  height: 64px;
}
.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 64px;
  background-color: rgb(255, 56, 92);
  margin-right: 10px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(240, 241, 242);
}

.hero {
  width: 100%;
}
.hero__main-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://waybird.imgix.net/lodge_images/images/000/088/815/original/strand-hotel-5.jpg?w=1420&h=946&crop=center%20center&fit=min&dpr=1&q=50&auto=format");
  width: 100%;
  height: 250px;
  filter: brightness(0.5);
}

.tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4em;
  background-color: #fafafa;
}
.tags h1 {
  margin-top: 1em;
}
.tags__title {
  margin: 10px 10px 10px 0;
}
.tags__text {
  font-size: 0.8em;
}
.tags__design {
  padding: 25px;
}
.tags__img {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tags-img-1 {
  background-image: url("../img/icons/revision.png");
}
.tags-img-2 {
  background-image: url("../img/icons/verificar.png");
}
.tags-img-3 {
  background-image: url("../img/icons/configuraciones.png");
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px 0;
  gap: 20px;
}
.info .cards__title {
  font-size: 1.8rem;
}
.info__container {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 350px;
  text-align: center;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0px 5px 10px 1px #d0d0d0;
  margin-bottom: 50px;
}
.info__text {
  margin: 0 10px 10px 10px;
  padding: 10px;
}
.info .info__title {
  color: rgb(247, 247, 247);
}
.info .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 56, 92);
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 4px -1px #353535;
  margin-bottom: 10px;
}
.info .info-design {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 0 0 10px 10px;
}
.info .info__image-one {
  background-image: url("https://www.hotel-forster.at/typo3conf/ext/bn_typo_dist/Resources/Public/client/Bilder/Forster/Hotel-Winter-mit-Pool.jpg");
}
.info .info__image-two {
  background-image: url("https://p6.focus.de/img/fotos/id_13449906/forsthofgut-1-titel.jpg?im=Resize%3D%28800%2C533%29&impolicy=perceptual&quality=mediumHigh&hash=cd8868ecaab80d89f746c29be5c82878a4f4bccaa7a119401b49fb31ce6f1c93");
}
.info .info__image-three {
  background-image: url("https://top-private-hotels.com/files/wys/users/3/2018/Kronthaler%20neu/VAI_14.06.12_0315.jpg");
}

.memories {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 56, 92);
  color: rgb(247, 247, 247);
  height: 22rem;
  justify-content: space-between;
  gap: 20px;
}
.memories .memories__images {
  position: relative;
}
.memories__images, .memories__info {
  padding: 20px;
  text-align: left;
}
.memories .memories-rectangle {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 100px;
  box-shadow: 5px 5px 8px 0px rgb(46, 46, 46);
  position: absolute;
  border-radius: 5px;
}
.memories .images-1 {
  top: 20px;
  left: 55px;
  background-image: url("https://www.kirche-und-leben.de/fileadmin/redaktion/bild/2017/10/Familie1130.jpg");
  z-index: 4;
}
.memories .images-2 {
  top: 40px;
  left: 110px;
  background-image: url("https://www.planet-wissen.de/gesellschaft/familie/patchwork_familien/introfamiliengnormgjpg100~_v-HintergrundL.jpg");
  z-index: 3;
}
.memories .images-3 {
  top: 60px;
  left: 165px;
  background-image: url("https://www.urlaubstracker.de/wp-content/uploads/2021/12/familie-am-strand.jpg");
  z-index: 2;
}
.memories .images-4 {
  top: 80px;
  left: 220px;
  background-image: url("https://www.emotion.de/sites/www.emotion.de/files/styles/article_lead/public/familie_in_natur.jpg?itok=rBb6LWlZ");
  z-index: 1;
}

.ratings {
  display: grid;
  grid-auto-columns: auto;
  margin-top: 6rem;
  padding: 30px;
  gap: 20px;
}
.ratings .ratings__header {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 15px;
}
.ratings .ratings__header-container {
  margin-left: 20px;
}
.ratings .ratings__content {
  padding: 15px;
}
.ratings .ratings__content h3 {
  margin-bottom: 10px;
}
.ratings .ratings__img-design {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.ratings .ratings__img-1 {
  background-image: url(https://static.leonardo-hotels.com/image/leonardohotelbucharestcitycenter_room_comfortdouble2_2022_4000x2600_7e18f254bc75491965d36cc312e8111f_1200x780_mobile_3.jpeg);
}
.ratings .ratings__img-2 {
  background-image: url(https://www.profilebakery.com/wp-content/uploads/2023/04/women-AI-Profile-Picture.jpg);
}
.ratings .ratings__img-3 {
  background-image: url(https://www.profilebakery.com/wp-content/uploads/2023/04/AI-Profile-Picture.jpg);
}
.ratings__block {
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  box-shadow: 0 2px 6px 2px #d4d4d4;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
