@use 'variables';
@use 'mixins';



.header{

    @include mixins.flexbox(space-between, center);
    @include mixins.sizes(100%, 64px);
    background-color: variables.$redColor;
    position: fixed;
    z-index: 50;
    box-shadow: 0 4px 10px 1px rgb(84, 52, 52);


    &__logo{
        @include mixins.value-images(url("../img/logo.png"));
        @include mixins.sizes (64px, 64px)
    }


    &__title {
        @include mixins.flexbox(flex-start, center);
        @include mixins.sizes(100px, 64px);
        background-color: variables.$redColor;
        margin-right: 10px;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: rgb(240, 241, 242);
    }


}

