@use 'mixins';
@use 'variables';

.cards__title {
    margin-top: 2rem;
    font-size: 1.8rem;
}

.info {
    display: variables.$flexProperty;
    flex-direction: column ;
    align-items: center; //Quitar para @media
    // justify-content: center; //Poner a @media
    width: 100%;
    margin: 50px 0;
    gap: 20px;


    &__container {
        display: variables.$flexProperty;
        flex-direction: column;
        width: 85%;
        max-width: 350px;
        text-align: center;
        border-radius: 10px;
        min-height: 400px;
        box-shadow: 0px 5px 10px 1px #d0d0d0;
        margin-bottom: 50px;
    }

    &__text{
        margin: 0 10px 10px 10px;
        padding: 10px;
    }

    .info__title {
        color: rgb(247, 247, 247);
    }

    
    .title {
        display: variables.$flexProperty;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: variables.$redColor;
        border-radius: 10px 10px 0 0;
        //          X    Y  BLUR  SPREAD  COLOR
        box-shadow: 0px 2px 4px   -1px   #353535;
        margin-bottom: 10px;
    }

    .info-design {
        @include mixins.value-images;
        @include mixins.sizes (100%, 200px);
        border-radius: 0 0 10px 10px;
    }




    .info__image-one {
        @include mixins.set-image(url("https://www.hotel-forster.at/typo3conf/ext/bn_typo_dist/Resources/Public/client/Bilder/Forster/Hotel-Winter-mit-Pool.jpg"));
    }

    .info__image-two {
        @include mixins.set-image(url("https://p6.focus.de/img/fotos/id_13449906/forsthofgut-1-titel.jpg?im=Resize%3D%28800%2C533%29&impolicy=perceptual&quality=mediumHigh&hash=cd8868ecaab80d89f746c29be5c82878a4f4bccaa7a119401b49fb31ce6f1c93"));
    }

    .info__image-three {
        @include mixins.set-image(url("https://top-private-hotels.com/files/wys/users/3/2018/Kronthaler%20neu/VAI_14.06.12_0315.jpg"));
    }



}
