

@mixin value-images{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin set-image($urls){
    background-image: $urls;
}

@mixin sizes($width, $height){
     width: $width;
     height: $height;
}

@mixin flexbox ($justifyContent, $alignItems){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin boxShadow ($x, $y, $blur, $spread, $color) {
    box-shadow: $x $y $blur $spread $color;
}