

@mixin value-images($urls) {
    background-image: $urls;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@mixin sizes($width, $height){
     width: $width;
     height: $height;
}

@mixin flexbox ($justifyContent, $alignItems){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}