@use 'mixins';
@use 'variables';

.message {
    margin-top: 5em;
}

.tags {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(350px, 1fr)
    );
    gap: 15px;
    margin-top: 4em;
    background-color: #fafafa;

    h1 {
        margin-top: 1em;
    }

    &__text {
        font-size: 0.8em;
    }

    &__design {
        padding: 25px;
    }

    &__img {
        @include mixins.sizes(32px, 32px);
        @include mixins.value-images;
    }
    
    &-img-1 {
        @include mixins.set-image(url("../img/icons/revision.png"))
    }

    &-img-2 {
        @include mixins.set-image(url("../img/icons/verificar.png"))
    }

    &-img-3 {
        @include mixins.set-image(url("../img/icons/configuraciones.png"))
    }



}

