@use 'header';
@use 'variables';
@use 'mixins';
@use 'hero';
@use 'info';
@use 'memories';

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: red;
    text-align: center;
}