@use 'header';
@use 'variables';
@use 'mixins';
@use 'hero';
@use 'tags';
@use 'info';
@use 'memories';
@use 'ratings';
@use 'btnFinal';
@use 'footer';
@use 'queries';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}

hr {
    border: 1px solid #ececec;
    width: 100%;
}